*{  
    background: #F3F5Fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.logo{
    margin-top: 2%;
    margin-left: 2%;
    width: 8%;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
    gap: 30%;
}

.input{
    margin-top: 10%;
    margin-left: 20%;
    border: none;
    text-transform: lowercase;
}

::placeholder{ color:#0A3871;}
    .input:focus {outline: none;
}


.texto{
    background: white;
    background-image: url("images/Muñeco.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 1%;
    text-align: center;
    width: 100%;
    height: 500px;
    text-transform: lowercase;

}
::placeholder{ color:#0A3871;}
    .texto {outline: none;
}
.btn-copiar{
    cursor: pointer;
    color: white;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
}


.encriptar{
    cursor: pointer;
    display: inline;
    color: white;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
}
.desencriptar{
    cursor: pointer;
    color: #0A3871;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #F3F5Fc;
    border-radius: 24px;
}
@media screen and (max-width: 640px) { 
    
    main{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    gap: 30%;
    }
    .input{
        lines:10;
    }
    .logo{
    width: 50%;
    margin-top: 30px;
    }
    .section2{
        margin-left: none;
    }
    .texto{
        margin-left: none;
    }
}