*{  
    background: #F3F5Fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.logo{
    margin-top: 30px;
    margin-left: 10px;
    
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 50px;
    gap: 20%;
    align-self: center;
        text-align: center;
}

.input{
    margin-top: 30px;
    margin-left: 70px;
    border: none;
    text-transform: lowercase;
    width: 100%;
}

::placeholder{ color:#0A3871;}
    .input:focus {outline: none;
        
}


.texto{
    margin-top: 30px;
    justify-content: right;
    background: white;
    background-image: url("images/Muñeco.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 1%;
    text-align: center;
    width: 100%;
    height: 300px;
    text-transform: lowercase;

}
::placeholder{ color:#0A3871;}
    .texto {outline: none;
            
}
.btn-copiar,.btn-copiar2{
    cursor: pointer;
    color: white;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
}
.botonera{
    width: 100%;
    margin-left: 5%;

}
.botones{
    display: inline-flex;
    gap: 30px;
}

.encriptar{
    cursor: pointer;
    display: inline;
    color: white;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
}
.desencriptar{
    cursor: pointer;
    color: #0A3871;
    gap: 8px;
    width: 328px;
    height: 67px;
    background: #F3F5Fc;
    border-radius: 24px;
}
.btn-copiar2{
    visibility: hidden;
}

@media screen and (max-width: 640px) { 
    body{
        justify-items: center;
        align-self: center;
        text-align: center;

            }
    main{
        display: block;
        margin: auto;
    }
    
    .frame1{
        flex-direction: row;
    }
    .input{
        margin: 0 auto;
        align-self: center;
        text-align: center;
    }
    .logo{
        width: 20%;
        margin-top: 30px;
        align-self: bg cnn.kjbmcxza;
    }
    .textarea{
        align-self: center;
        text-align: center;

    }
    .texto{
        background-image: none;
        display: flex;
        width: 100%;
        height: 200px;
        
    }
    .icon{
        font-size: 25px;
        margin: 5% 7% auto;
        align-self: center;
        text-align: center;
    }
    .observaciones{
        width: 0p px;
        justify-content: center;
    }
    .cuadro{
        width: 0px;
    }
    .observaioes{
        align-self: center;
        text-align: center;
    }
    .copy{
        padding-top: 10px;
        margin-inline: 20%;
        height: 1px;
    }
    .btn-copiar{
        visibility: hidden;
    }
    .btn-copiar2{
        margin-top: 2%;
        visibility: visible;

    }        
    p{
        font-size: 80%;
    }
    .encriptar, .desencriptar{
        width: 200px;
        font-size: 25px;
    }
    .section3{
        width: 100%;
        align-self: center;
    }
    .botonera{
        align-self: center;
        text-align: center;
        margin-left: 0%;

    }
    .botones{
        display: inline-flex;
        font-size: 25px;
        gap: 10px;
        
        
    }
}